<li>@Html.ActionLink("Customer", "Index", "Customers")</li>
<li>@Html.ActionLink("Driver", "Index", "Drivers")</li>
<li>@Html.ActionLink("Vehicle Type", "Index", "VehicleTypes")</li>
<li>@Html.ActionLink("Vehicle", "Index", "Vehicles")</li>
<li>@Html.ActionLink("Booking", "Index", "Bookings")</li>
<li>@Html.ActionLink("Job Api", "Index", "Jobs")</li>
 